__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.vscode/
.idea/
*.sql
*.sqlite
# Node.js
node_modules/
package-lock.json
.wwebjs_auth/
.wwebjs_cache/
# Si deseas ignorar DOCUMENTACION_PROYECTO.md o similares, puedes añadirlos.
